<ion-header>
  <ion-toolbar color="primary">
    <ion-title>FAQ Restoran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Apakah Pizza Hut Delivery (PHD) sama dengan restoran Pizza Hut?</ion-label>
    </ion-item-divider>
    <ion-item>
      <p>PHD adalah spesialis pizza delivery yang dihadirkan oleh Pizza Hut dengan slogan “30 Menit Dijamin Tiba atau GRATIS 1 Pizza”. PHD hadir untuk melayani kebutuhan dan gaya hidup masyarakat masa kini dengan memberikan solusi delivery makanan atas kondisi jalan yang macet, musim hujan, kesibukan di kantor bahkan untuk menemani kebersamaan bersama keluarga di rumah.</p>
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider>
      <ion-label>Apakah menu PHD sama dengan yang ada di restoran Pizza Hut?</ion-label>
    </ion-item-divider>
    <ion-item>
      <p>PHD memiliki menu-menu spesial Pizza Hut yang telah disesuaikan untuk layanan pesan antar. PHD juga menawarkan menu-menu seperti: Super Supreme, Meat Lovers, Stuffed Crust, Cheesy Bites, Chicken, Pasta, Rice Box, Snack & Drink, dll.</p>
    </ion-item>
  </ion-item-group>
</ion-content>
