<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reservasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [class.ion-padding]="20">

  <h3 style="text-align: center">Denah Meja</h3>

  <br>
  <ion-img src="assets/icon/denah.png">
  </ion-img>
  <br>
  <form [formGroup]="resForm" (ngSubmit)="simpanNomorMeja()">
  <ion-item>
    <ion-label>Pilih meja</ion-label>
    <ion-select formControlName="nomeja" placeholder="Select One">
      <ion-select-option value="1">Nomor 1</ion-select-option>
      <ion-select-option value="3">Nomor 3</ion-select-option>
      <ion-select-option value="5">Nomor 5</ion-select-option>
      <ion-select-option value="7">Nomor 7</ion-select-option>
      <ion-select-option value="8">Nomor 8</ion-select-option>
      <ion-select-option value="9">Nomor 9</ion-select-option>
      <ion-select-option value="11">Nomor 11</ion-select-option>
      <ion-select-option value="12">Nomor 12</ion-select-option>
      <ion-select-option value="15">Nomor 15</ion-select-option>
      <ion-select-option value="16">Nomor 16</ion-select-option>
      <ion-select-option value="17">Nomor 17</ion-select-option>
      <ion-select-option value="19">Nomor 19</ion-select-option>
      <ion-select-option value="20">Nomor 20</ion-select-option>
      <ion-select-option value="21">Nomor 21</ion-select-option>
      <ion-select-option value="22">Nomor 22</ion-select-option>
      <ion-select-option value="23">Nomor 23</ion-select-option>
      <ion-select-option value="24">Nomor 24</ion-select-option>
      <ion-select-option value="25">Nomor 25</ion-select-option>
      <ion-select-option value="26">Nomor 26</ion-select-option>
      <ion-select-option value="27">Nomor 27</ion-select-option>
      <ion-select-option value="28">Nomor 28</ion-select-option>
      <ion-select-option value="30">Nomor 30</ion-select-option>
      <ion-select-option value="31">Nomor 31</ion-select-option>
      <ion-select-option value="32">Nomor 32</ion-select-option>
      <ion-select-option value="33">Nomor 33</ion-select-option>
      <ion-select-option value="36">Nomor 36</ion-select-option>
      <ion-select-option value="37">Nomor 37</ion-select-option>
      <ion-select-option value="38">Nomor 38</ion-select-option>
      <ion-select-option value="39">Nomor 39</ion-select-option>
      <ion-select-option value="40">Nomor 40</ion-select-option>
      <ion-select-option value="41">Nomor 41</ion-select-option>
      <ion-select-option value="42">Nomor 42</ion-select-option>
      <ion-select-option value="43">Nomor 43</ion-select-option>
      <ion-select-option value="46">Nomor 46</ion-select-option>
      <ion-select-option value="47">Nomor 47</ion-select-option>
    </ion-select>
  </ion-item>
    <div *ngFor="let error of errorMessages.nomeja">
      <ng-container *ngIf="nomeja.hasError(error.type) && (nomeja.dirty || nomeja.touched)">
        <center><small>{{ error.message }}</small></center>
      </ng-container>
    </div>

    <ion-item>
    <ion-label>Tanggal reservasi</ion-label>
    <ion-datetime formControlName="tglres" displayFormat="YYYY-MM-DD"></ion-datetime>
  </ion-item>
    <div *ngFor="let error of errorMessages.tglres">
      <ng-container *ngIf="tglres.hasError(error.type) && (tglres.dirty || tglres.touched)">
        <center><small>{{ error.message }}</small></center>
      </ng-container>
    </div>
    <ion-button routerLink="/menu-reservasi" [disabled]="!resForm.valid" type="submit" expand="full">Pilih menu</ion-button>
  </form>

</ion-content>
