<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [class.ion-padding]="10">

  <!-- List of Text Items -->
  <ion-list>
    <div *ngIf="!isLogin">
      <ion-item routerLink="/login">
        <ion-label>Login</ion-label>
      </ion-item>
    </div>
    <div *ngIf="isLogin" >
      <ion-item routerLink="/upload-bukti-transfer">
        <ion-label>Upload bukti transfer</ion-label>
      </ion-item>
    </div>
    <div *ngIf="isLogin" >
      <ion-item routerLink="/cek-status">
        <ion-label>Cek status</ion-label>
      </ion-item>
    </div>
    <div *ngIf="isLogin">
      <ion-item (click)="logout()">
        <ion-label>Logout</ion-label>
      </ion-item>
    </div>
    <ion-item routerLink="/register">
      <ion-label>Register</ion-label>
    </ion-item>
  </ion-list>

  <center><p><small>Ver 1.0.0</small></p></center>

</ion-content>
