<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-padding]="20" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card [class.ion-padding-top]="10" [class.ion-padding-bottom]="5">
    <ion-slides pager="true" [options]="{ slidesPerView:1, autoplay: {delay: 1500} }">
      <ion-slide>
        <div class="slide">
          <p>Selamat datang di aplikasi restoran {{ this.nama }}</p>
        </div>
      </ion-slide>
      <ion-slide>
        <p>Mohon pilih delivery atau takeaway untuk melihat menu</p>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <br>
  <br>


  <ion-toolbar>
    <ion-buttons collapse="false">
      <ion-icon name="fast-food-outline" size="large" title="Delivery">
      </ion-icon>
      <ion-button>Delivery</ion-button>
      <ion-icon name="paper-plane-outline" size="large" title="Takeaway">
      </ion-icon>
      <ion-button>Takeaway</ion-button>
      <ion-icon name="reader-outline" size="large" title="Takeaway">
      </ion-icon>
      <ion-button>Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <br>
  <br>

  <div style="align-content: center">
    <ion-slides pager="true" [options]="{ slidesPerView:1, autoplay: {delay: 2500} }">
      <ion-slide *ngFor="let item of makanan">
        <div (click)="itemKlik(item.id)" class="slide">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ item.nama }}</ion-card-subtitle>
              <ion-card-title>Rp. {{ item.harga | number : fractionSize }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img src="{{ pathGambar + item.gambar }}"></ion-img>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <div style="align-content: center">
    <ion-slides pager="true" [options]="{ slidesPerView:1, autoplay: {delay: 1500} }">
      <ion-slide *ngFor="let item of minuman">
        <div (click)="itemKlik(item.id)" class="slide">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{ item.nama }}</ion-card-subtitle>
              <ion-card-title>Rp. {{ item.harga | number : fractionSize }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img style="width: 960px; height: 360px" src="{{ pathGambar + item.gambar }}"></ion-img>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
