<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Konfirmasi Delivery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [class.ion-padding]="20">

  <ion-list>
    <ion-radio-group value="0">
      <ion-list-header>
        <ion-label>Metode Pembayaran</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Transfer</ion-label>
        <ion-radio slot="start" value="0"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Bayar di tempat</ion-label>
        <ion-radio slot="start" value="1"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <p>Jika memilih transfer, pembayaran bisa dilakukan melalui transfer ke salah satu rekening berikut: </p>

  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img style="object-fit: cover" src="assets/bank/logo-bca.jpg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>154 234 529</h2>
        <h3>a.n. Melissa</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img style="object-fit: cover" src="assets/bank/logo_cimb.jpeg"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>154 234 529</h2>
        <h3>a.n. Melissa</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img style="object-fit: cover" src="assets/bank/logo_mandiri.png"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>154 234 529</h2>
        <h3>a.n. Melissa</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <br>
  <ion-button (click)="doBayar()" expand="full">Proses</ion-button>
</ion-content>
