<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Upload Bukti Transfer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-padding]="20" class="background">

  <ion-button (click)="takePicture()">Kamera</ion-button>

  <ion-card *ngIf="currentImage">
    <ion-card-header>
      <ion-card-subtitle>Hasil Kamera</ion-card-subtitle>
      <ion-card-title>Pastikan foto struk jelas dan dapat dilihat</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="currentImage" *ngIf="currentImage">
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="currentImage" (click)="upload()" expand="full">Upload</ion-button>


</ion-content>
