<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.ion-padding]="20">

  <br>


    <ion-item>
      <ion-label position="floating">Nama</ion-label>
      <ion-input [(ngModel)]="user.nama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="user.password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ulangi password</ion-label>
      <ion-input [(ngModel)]="user.cpassword" ></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Wilayah</ion-label>
      <ion-select  [(ngModel)]="user.id_wilayah">
        <ion-select-option *ngFor="let item of listWilayah;" value="{{item.id}}">{{item.nama}} </ion-select-option>
      </ion-select>
    </ion-item>

    <br>
    <ion-button (click)="doRegister()" expand="full">Submit</ion-button>


</ion-content>
